In [17]:
import pandas as pd
%matplotlib inline

In [9]:
data1 = pd.read_csv('./set1_log.csv')

In [10]:
data1.head()

,metric_type,sensor_type,px,py,vx,vy,ro,phi,ro_dot
0,prediction,none,0.362243,0.630340,1.000000,1.000000,0.000000,0.000000,0.000000
1,update,radar,0.362243,0.630340,1.000000,1.000000,0.727013,1.049204,1.365288
2,prediction,none,1.167861,0.757524,7.107009,1.312864,0.000000,0.000000,0.000000
3,prediction,none,1.673310,0.528441,9.541760,-0.006111,0.000000,0.000000,0.000000
4,update,radar,1.673310,0.528441,9.541759,-0.006111,1.754769,0.305894,9.096972

In [12]:
data1[data1["sensor_type"]=="radar"].describe()

,px,py,vx,vy,ro,phi,ro_dot
count,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000
mean,-3.178678,5.724229,-0.300265,0.345483,17.536219,0.378578,0.713055
std,15.269733,9.170799,3.785738,3.286478,7.180043,2.022048,3.499638
min,-26.701517,-9.652123,-5.257915,-5.088145,0.727013,-3.125148,-4.759574
25%,-16.632866,-0.439151,-3.682999,-2.771378,11.861627,-2.534892,-2.888640
50%,-3.041072,5.795924,-1.866272,0.879739,18.810812,0.752738,0.767197
75%,10.554383,11.737187,3.965151,3.234874,24.110367,2.000041,4.279956
max,20.415537,21.148319,9.541759,5.226411,26.726410,3.136907,9.096972

In [13]:
data2 = pd.read_csv('./set1_log.csv')
data2.head()

,metric_type,sensor_type,px,py,vx,vy,ro,phi,ro_dot
0,prediction,none,0.362243,0.630340,1.000000,1.000000,0.000000,0.000000,0.000000
1,update,radar,0.362243,0.630340,1.000000,1.000000,0.727013,1.049204,1.365288
2,prediction,none,1.167861,0.757524,7.107009,1.312864,0.000000,0.000000,0.000000
3,prediction,none,1.673310,0.528441,9.541760,-0.006111,0.000000,0.000000,0.000000
4,update,radar,1.673310,0.528441,9.541759,-0.006111,1.754769,0.305894,9.096972

In [14]:
data2[data2["sensor_type"]=="radar"].describe()

,px,py,vx,vy,ro,phi,ro_dot
count,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000
mean,-3.178678,5.724229,-0.300265,0.345483,17.536219,0.378578,0.713055
std,15.269733,9.170799,3.785738,3.286478,7.180043,2.022048,3.499638
min,-26.701517,-9.652123,-5.257915,-5.088145,0.727013,-3.125148,-4.759574
25%,-16.632866,-0.439151,-3.682999,-2.771378,11.861627,-2.534892,-2.888640
50%,-3.041072,5.795924,-1.866272,0.879739,18.810812,0.752738,0.767197
75%,10.554383,11.737187,3.965151,3.234874,24.110367,2.000041,4.279956
max,20.415537,21.148319,9.541759,5.226411,26.726410,3.136907,9.096972